{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}



 <section id="accueil" class="bg-cover hero-section">
        <div class="overlay"></div>
        <div class="container text-white text-center">
            <div class="row  justify-content-center">

              <div class="col-md-5 ">
                <div class="text-center">
              <h1>{% trans "Sign Up" %}</h1>

              <p>{% blocktrans %}Avez vous déjà un compte?  <a class="text-danger" href="{{ login_url }}">Cliquez ici </a>.pour vous connecter{% endblocktrans %}</p>
                </div>
                <div class="p-3 bg-info rounded-3" style="bg-info"   >
              <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form | crispy }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="btn btn-main">{% trans "Sign Up" %} &raquo;</button>
              </form>

            </div>
            </div>
            </div>
        </div>
    </section>

{% endblock %}
