
{% extends 'base.html'%}
{% load app_tags %}

{% block css %}

{% endblock %}

{% block content %}


                    <!-- Progress bar 1 -->

                <span class="fs-3 text-muted m-auto">Les<span class='display-9 fs-2 text-dark fw-bold '> {{chambres_disponible}}</span> Chambres sont disponibles</span>
               <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{disponible_percent}}%"></div>
                </div>

                    <!-- END -->





{% endblock content %}