body{
	background: rgba(0, 0, 0, .05);
}

.active, .my_style_navlink:hover{


	border-radius: 2px;
	border-bottom: 2px solid blue;
	padding: 0px;
	cursor: pointer
}
.btn{
	border-radius: 25px;
	border-bottom: 2px;

}

