{% load static %}
<!-- appele css,js ,fonts-->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{%block title%}Reservation en Ligne{%endblock%}</title>

	<!-- core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel=" stylesheet" type="text/css" >
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">

    {% block stylesheet %}{% endblock %}
</head><!--/head-->

<body class="">

    {% block body %}

    <header id="header">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark pt-1 pb-1">
  <div class="container-fluid">

    <a class="navbar-brand " href="#">Sky Lodge</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse " id=" myMenu">
      <ul class="navbar-nav me-auto my-2 my-lg-0 "style="--bs-scroll-height: 100px;">
        <li class="nav-item ">
          <a class="nav-link my_style_navlink " aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link my_style_navlink "href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle my_style_navlink " href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Link
          </a>
          <ul class="dropdown-menu dropdown-menu-dark " aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Link</a>
        </li>
      </ul>



        <div class="d-flex justify-content-end">
          <ul class="navbar-nav me-auto my-2 my-lg-0  " style="--bs-scroll-height: 100px;">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="#">Connexion</a>
            </li>


            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Inscription</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="#" id="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               compte
              </a>
              <ul class="dropdown-menu dropdown-menu-dark " aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>

          </ul>
    </div>


    </div>
  </div>
</nav>

    </header>


        {% block slider %}
            <!--    espace sliders------------------------
            ------------------------------->
        {% endblock %}

        {% block content %}
            <!--    content------------------------
            ------------------------------->
        {% endblock %}






    {% endblock body %}



    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script>
// Add active class to the current button (highlight it)
var header = document.getElementById("myDIV");
var btns = header.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function() {
  var current = document.getElementsByClassName("active");
  if (current.length > 0) {
    current[0].className = current[0].className.replace(" active", "");
  }
  this.className += " active";
  });
}
</script>
{% block javascript %}{% endblock %}
</body>
</html>