{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Connexion</title>
</head>
<body>



<div class="b-example-divider"></div>

  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">Bienvenus</h1>
        <p class="col-lg-10 fs-4">Inscrivez-vous ici!</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-light" action="{% url 'customer_register' %}" method="POST" novalidate>
              {% csrf_token %}
                         {% for field in form.visible_fields %}
                              <div class="form-floating mb-3">

                                  {% render_field field class="form-control" id="floatingInput" %}
                                  {{ field.label_tag }}
                                    {% if messages%}
                                      {% for message in messages %}
                                        <span style="color:red">{{ message }}</span>
                                      {% endfor %}
                                     {% endif %}
                              </div>
                             {% endfor %}
          <input class="w-100 btn btn-lg btn-primary" type="submit" value="Connecter">
          <hr class="my-4">
            <small class="text-muted">Cliquez ici:<a href="{% url 'customer_register' %}" class="fs-6">Connexion</a> si vous avez un compte! <br>
          </small>
        </form>
      </div>
    </div>
  </div>
<script src=" static 'js/bootstrap.bundle.min.js' "></script>

</body>
</html>