{% extends 'base.html'%}
{% load  widget_tweaks %}


{% block title %} Chambres{% endblock  %}

{% block content %}
<div class="col">
<section class="">
<div class="container col-xl-10 col-xxl-8  ">
<h4><i class="fa-solid fa-bookmark text-success"></i> Tous les reservations</h4>
    <hr class="text-primary ">

    <div class="row align-items-center g-lg-5 d-flex justify-content-center">
      <div class="col-lg-12 text-center text-lg-start">


          <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Début sejour</th>
                  <th scope="col">Fin séjour</th>
                  <th scope="col">Chambre</th>
                  <th scope="col">Réserver le</th>
                    {% if  user.is_staff %}
                  <th scope="col">Par</th>
                  <th scope="col">Editer</th>
                    {% endif %}
                    <th scope="col">Annuler</th>
                </tr>
              </thead>
              <tbody>
                {% for message in messages %}
                        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
              {% for res in reservations %}

                 {% if  user.is_staff or res.client == user %}
                <tr>
                  <th scope="row">{{res.debut_sejour}}</th>
                  <td>{{res.fin_sejour}}</td>
                  <td>{{res.chambre_id}}</td>

                  <td class="text-success"><i>{{res.date_operation}}</i> </td> 
                   <td class="text-success"><i>{{res.status}}
                     

                   </i> </td>
                       {% if  user.is_staff %}
                  <td class="text-muted"><i>{{res.client.username}}</i> </td>
                  <td><a href="{% url 'update_reservation' res.id %}" title="Editer"><i class=" text-primary fa-solid fa-pen fs-3"></i></a></td>
                    {% endif %}
                  <td><a href="{% url 'del-reservation' res.id %}" title="Annuler"><i class=" text-danger fa-solid fa-xmark fs-3"></i></a></td>
                   </tr>
                {% endif %}
              {% endfor %}
              </tbody>
            </table>
      </div>
    </div>
  </div>

</section>
</div>
<!-- Modal -->


{% endblock content%}