{% extends 'base.html'%}
{% load  widget_tweaks %}


{% block title %} Chambres{% endblock  %}

{% block content %}
<section class="mt-3">
<div class="container col-xl-10 col-xxl-8 px-4 py-1">
<h4>Tous les reservations</h4>
    <hr class="text-primary ">

    <div class="row align-items-center g-lg-5 py-1">
      <div class="col-lg-9 text-center text-lg-start">


          <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Début sejour</th>
                  <th scope="col">Fin sejour</th>
                  <th scope="col">Chambre</th>
                  <th scope="col">réserve le</th>
                    <th scope="col">Par</th>
                </tr>
              </thead>
              <tbody>
                {% for message in messages %}
                        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
              {% for res in reservations %}

                <tr>
                  <th scope="row">{{res.debut_sejour}}</th>
                  <td>{{res.fin_sejour}}</td>
                  <td>{{res.chambre_id}}</td>
                  <td>{{res.date_operation}} </td>
                    <td>{{res.client.username}} </td>

                </tr>

              {% endfor %}
              </tbody>
            </table>
      </div>
    </div>
  </div>

</section>

<!-- Modal -->


{% endblock content%}