{% extends 'base.html'%}
{% load  widget_tweaks %}


{% block title %} Chambres{% endblock  %}

{% block content %}

<div class="container col-xl-10 col-xxl-8 px-4 py-1">
<h4>Mes reservations : {{user.username}}</h4>
    <hr class="text-primary ">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Nouveau chambre</button>
    <div class="row align-items-center g-lg-5 py-1">
      <div class="col-lg-9 text-center text-lg-start">


          <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Debut sejour</th>
                  <th scope="col">Fin sejour</th>
                  <th scope="col">Chambre</th>
                  <th scope="col">reserve le</th>
                </tr>
              </thead>
              <tbody>
              {% for message in messages %}
                        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
              {% endfor %}

              {% for res in reservations %}
                 {% if res.client == user %}
                <tr>
                  <th scope="row">{{res.debut_sejour}}</th>
                  <td>{{res.fin_sejour}}</td>
                  <td>{{res.chambre_id}}</td>
                  <td>{{res.date_operation}} </td>

                </tr>
                    {% endif %}
              {% endfor %}
              </tbody>
            </table>
      </div>
    </div>
  </div>



<!-- Modal -->


{% endblock content%}