 {% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Start a New Topic{% endblock %}

{% block content %}
 <div class="container p-5">
         <hr>
<div class="row">
      <div class="col-md-6">
        <p class="fs-4">Ajouter une chambre</p>
      </div>
       <div class="col-md-6">
        <a href="{% url 'rooms'%}" class="btn btn-success "><i class="fa fa-list"></i> Liste </a>
      </div>
    </div>
  <div class="border-top border-primary border-50 border-5">
<div class="card-body ">

                    <form action="{% url 'new_room' %}" method="POST" novalidate>
                      {% csrf_token %}
                         {% for field in form.visible_fields %}
                           <div class="form-group">
                               {{ field.label_tag }}
                                  {% render_field field class="form-control" %}
                                    {% if messages%}
                                      {% for message in messages %}
                                        <span style="color:red">{{ message }}</span>
                                      {% endfor %}
                                     {% endif %}
                         {% endfor %}
                         <br>
                             <input type="submit" value="save" class="btn btn-block btn-primary">
                           </div>
                    </form>
                 </div>
      </div>
</div>
 {% endblock %}