{% extends 'base.html'%}
{% load  widget_tweaks %}


{% block title %} Inscription {% endblock  %}

{% block content %}

  <div class="container col-xl-10 col-xxl-8 px-3 py-2">
    <div class="row align-items-center g-lg-5 py-4">

      <div class="col-md-10 mx-auto col-lg-5 text-center">
          <h1 class="display-9  fw-bold lh-1 mb-3">Bienvenue</h1>
        <p class="fs-4">Inscrivez-vous</p>
        <form class="p-4 p-md-5 border rounded-3 bg-light" method="post" novalidate>
              {% csrf_token %}

                    {% if form.non_field_errors %}
                      <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                          <p>{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
                        {% endfor %}
                      </div>
                    {% endif %}

                    {% for field in form %}
                      <div class="form-floating ">

                        {% render_field field class="form-control" id='floatingInput' %}
                            {{ field.label_tag }}
                        {% for error in field.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                          </div>
                        {% endfor %}
<!--                        {% if field.help_text %}-->
<!--                          <small class="form-text text-muted">-->
<!--                            {{ field.help_text|safe }}-->
<!--                          </small>-->
<!--                        {% endif %}-->
                      </div>
                    {% endfor %}
          <button class="w-100 btn btn-lg btn-primary" type="submit">Enregistrer</button>
          <hr class="my-4">
          <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
        </form>
      </div>
    </div>
  </div>
{% endblock content%}