{% extends 'base.html'%}
{% load  widget_tweaks %}


{% block title %} Reservation{% endblock  %}

{% block content %}
<div class="col">
<section class="bg-cover text-dark">
<div class="container col-xl-10 col-xxl-8 px-4 py-1">
    <h1>Editer la Chambre n* {{chambre_id}}  </h1>
    <hr class="text-primary ">
    <div class="row align-items-center g-lg-5 py-1">

      <div class="col-lg-7 text-center  text-lg-start">
        <p class="fs-2"><u>{{user.username }}</u>: Poursuit votre modification </p>

        <p> Vous modifiez la chambre numéro :{{chambre_id}}</p>
           
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
       <form class="p-4 p-md-5 border rounded-3 text-dark"  style="background-color:rgba(34,55,67,.2)" method="post" novalidate>
              {% csrf_token %}
           <h6>Choisser votre durée de séjour</h6>
                    {% if form.non_field_errors %}
                      <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                          <p>{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
                        {% endfor %}
                      </div>
                    {% endif %}

                    {% for field in form %}
                      <div class="form-floating ">

                        {% render_field field class="form-control bg-light text-dark" id='floatingInput'  %}
                            {{ field.label_tag }}
                        {% for error in field.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                          </div>
                        {% endfor %}
<!--                        {% if field.help_text %}-->
<!--                          <small class="form-text text-muted">-->
<!--                            {{ field.help_text|safe }}-->
<!--                          </small>-->
<!--                        {% endif %}-->
                      </div>
                    {% endfor %}
          <button class="w-100 btn btn-lg btn-main" type="submit" >Enregistrer</button>
          <hr class="my-4">

        </form>
      </div>
    </div>
  </div>
</section>
</div>
{% endblock content%}